/*--------------*/
/*-- SOMMAIRE --*/
/*--------------*/

/* 	
	1. GÉNÉRAL = l.23

	2. 	Page d'Accueil = l.42
		2.1 	Images = l.46
		2.2 	Bouton : JOUER = l.81
		2.3 	Bouton : Tableaux des scores = l.109
		2.4 	Couleurs des textes des liens = l.138
		2.5 	Transition & tranform des boutons = l.147

	3. Jeu & assets = l.165
		3.1 	HUD = l.179
		3.2 	JEU = l.211

	4. GameOver = l.238
		4.1 	Popup Game Over (background) = l.242
		4.2 	Contenu de la PopUp = l.260
		4.3 	Boutton pour fermer la PopUp = l.273
	
	5. Tableau des Scores = l.298
		5.1		Général = l.302
		5.2 	Background & Cover = l.312
		5.3		Menu & Logo = l.339
		5.4 	Affichage des Scores = l.363
/*

/*----------------*//*----------------*//*----------------*//*----------------*/
/*----------------*//*----------------*//*----------------*//*----------------*/

/*------------------*/
/*--- 1. GÉNÉRAL ---*/
/*------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body 
{
	margin : 0 auto;
	padding : 0px;
	border-width : 0px;
	width : 100%;
	height : 100%;
	font-family: 'Roboto', sans-serif;
}

/*----------------*//*----------------*//*----------------*//*----------------*/
/*----------------*//*----------------*//*----------------*//*----------------*/

/*--------------------------*/
/*--- 2. Page d'Accueil ----*/
/*--------------------------*/

/*----------------*//*----------------*/
/* 2.1 Images */

#pageAccueil {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(32,32,32,1);
	overflow: hidden;
}
#Logo-studio {
	position: absolute;
	width: 165px;
	height: 75px;
	left: 878px;
	top: 50px;
	overflow: visible;
}
#Bg_menu {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#logo_jeu_white {
	position: absolute;
	width: 624px;
	height: 624px;
	left: 648px;
	top: -100px;
	overflow: visible;
}

/*----------------*//*----------------*/
/* 2.2 Bouton : JOUER */

#Bouton_1 {
	fill: rgba(0,165,165,1);
}
.Bouton1 {
	position: absolute;
	overflow: visible;
	width: 526px;
	height: 94px;
	left: 697px;
	top: 401px;
}
#JOUER {
	left: 914px;
	top: 430px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}

/*----------------*//*----------------*/
/* 2.3 Bouton : Tableaux des scores */

#Bouton_2 {
	fill: rgba(233,74,52,1);
}
.Bouton2 {
	position: absolute;
	overflow: visible;
	width: 526px;
	height: 94px;
	left: 697px;
	top: 585px;
}
#Tableaux_des_scores {
	left: 823px;
	top: 614px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}

/*----------------*//*----------------*/
/* 2.4 couleurs des textes des liens */

#divBoutonJOUER a, #divBoutonSCORES a
{
	text-decoration: none;
	color: white;
}

/*----------------*//*----------------*/
/* 2.5 transition & tranform des boutons */

.Bouton1:hover , .Bouton2:hover 
{
	transition : transform 0.4s;
	transform: scale(1.1);
}
#JOUER:hover , #Tableaux_des_scores:hover
{
	transition : transform 1s;
	transform: scale(1.4);
}

/*----------------*//*----------------*//*----------------*//*----------------*/
/*----------------*//*----------------*//*----------------*//*----------------*/

/*------------------------*/
/*--- 3. Jeu & assets ----*/
/*------------------------*/

/*----------------*//*----------------*/
/* 3.1 HUD */

#HUD
{
	position : fixed;
	display : block;

	width : 100%;
	height : 150px;

	margin : 2.5% auto;
	text-align : center;
	color : #ffffff;
	font-size: 28px;
}
.elementHUD
{
	margin : 0 auto;
	display : inline-block;
	padding : 20px;
	border: 1px dotted white;
}
#score
{
	color: #15a5a6;
}
#boutonMenuPrincipal
{
	width: 125px;
}

/*----------------*//*----------------*/
/* 3.2 JEU */

#canvas
{
	position : fixed;
	top : 200px;
	left : 335px;
	margin: 0 auto;
}

#jeu 
{
	position : fixed;
	display : block;

	top : 200px;
	left : 335px;
	margin : 0 auto;

	width : 1600px;
	height : 880px;
	
}

/*----------------*//*----------------*//*----------------*//*----------------*/
/*----------------*//*----------------*//*----------------*//*----------------*/

/*--------------------*/
/*--- 4. GameOver ---*/
/*-------------------*/

/*----------------*//*----------------*/
/* 4.1 Popup Game Over (background) */
#popupGameOver 
{
    display : none; /* Caché avant activation */
    position : fixed; /* Fixé */
    z-index : 1; /* Reste devant le reste*/
    left : 0;
    top : 3em;
    width : 100%; /* Pleine longueur */
    height : 100%; /* Pleine hauteur */
    overflow : auto; /* Permet le scroll si besoin */
	background-color : rgba(0,0,0,0.4); /* Noir et transparent */
	
	transform: scale(2);
	margin: auto auto;
}

/*----------------*//*----------------*/  
/* 4.2 Contenu de la PopUp */
#contenuPopUpGameOver 
{
    background-color : #fefefe;
    margin : 20% auto; /* 20% en haut et centré */
    padding : 20px;
    border : 1px solid #888;
    width : 25%; /* longueur : le la popup */
	text-align : center;
	border: 0.1em dotted black;
}

/*----------------*//*----------------*/  
/* 4.3 boutton pour fermer la PopUp */
#fermerPopUp 
{
    color : #aaa;
    float : right;
    font-size : 28px;
    font-weight : bold;
}
#fermerPopUp:hover,
#fermerPopUp:focus 
{
    color : black;
    text-decoration : none;
    cursor : pointer;
}

#BoutonsGameOver
{
	transform: scale(1.5);
}

/*----------------*//*----------------*//*----------------*//*----------------*/
/*----------------*//*----------------*//*----------------*//*----------------*/

/*-----------------------------*/
/*--- 5. Tableau des Scores ---*/
/*-----------------------------*/

/*----------------*//*----------------*/  
/* 5.1 Général */
#Tableau_Des_Scores
{
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

/*----------------*//*----------------*/  
/* 5.2 Background & Cover */
#backgroundCover 
{
	fill: rgba(16,16,16,1);
}
.coverBackground 
{
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Bg_menu_tds
{
	opacity: 0.9;
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
	transform: rotate(180deg);
}

/*----------------*//*----------------*/  
/* 5.3 Menu & Logo */
#bouton_menu
{
	position: absolute;
	width: 245.631px;
	height: 100px;
	left: 100px;
	top: 50px;
	overflow: visible;
}

#logo_jeu_tds
{
	position: absolute;
	width: 390px;
	height: 390px;
	left: 1522px;
	top: -97px;
	overflow: visible;
}

/*----------------*//*----------------*/  
/* 5.4 Affichage des Scores */
#titreHigherScores 
{
	left: 730px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: auto;
	text-align: center;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Classement
{
	left: 665px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 600px;
	line-height: 110px;
	margin-top: -25px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color:rgba(255,255,255,1);
}
.white_element
{
	color:rgba(255,255,255,1);
}
.gold_element
{
	color: #fdc716;
}
.silver_element
{
	color:rgba(200,200,200,1);
}
.bronze_element
{
	color:rgba(164,88,55,1);
}

#Tableau_Des_Scores br
{
	padding : 0;
}